
<p id="notice"><%= notice %></p>
<% if logged_in? %>
<h3>Hello <%= current_user.username %>!</h3>
<% end %>



<h1>Listing Tweets</h1>
<div class="new-tweet-where-ya-at">
  <button name="button" class="tweet-button">Click to create a tweet!</button>
    <%= form_tag(new_tweet_path, method: :get) do %>
      <div class="index-tweet-box">
        <div class="field" id="new_message">
          <%= label(:message, "Type tweet here.") %><br>
          <%= text_field(:message, "Type tweet here.") %>
        </div>

        <div class="actions">
          <%= submit_tag 'Post!' %>
        </div>
      </div>
    <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th>Created at:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.message %></td>
        <td><%= tweet.user.username %></td>
        <td><%= tweet.created_at.strftime("%F %T") %></td>
        <td><%= link_to 'View', tweet %></td>
        <% if logged_in? %>
        <td><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
<% if logged_in? %>
<%= link_to 'New Tweet', new_tweet_path %>
<%= link_to "Log out", logout_path, method: "delete" %>
<% end %>
